body{
	background-color:black;
	text-align:center;
}

h1{
	font-family: "OCRF", sans-serif;
	font-weight: 300;
}

p{
	font-family: "OCRF", sans-serif;
	font-weight: 300;
	color:white;
	font-size: 14px;
}


a{
	color:blue;
	font-size: 18px;
}

a:hover{
	color:white;
}

a:active{
	color:black;
}

a:visited{
	color:blue;
}

#box{
	position:absolute;
	top:400px;
	left:60px;
	width:250px;
	height:10px;
}

#walk{
	position:absolute;
	top:400px;
	right:60px;
	width:250px;
	height:10px;
}

#bag{
	position:absolute;
	top:400px;
	left:60px;
	width:250px;
	height:10px;
}

#run{
	position:absolute;
	top:400px;
	right:60px;
	width:250px;
	height:10px;
}